<!doctype html>
<html>
<head>
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
  <title>login-box Demo</title>

  <script src="../platform/platform.js"></script>
  <link rel="import" href="login-box.html">

</head>
<body unresolved>

  <p>An example of using <code>&lt;login-box></code>:</p>

  <login-box></login-box>

  <p>An example of using <code>&lt;login-box></code> with a top radial image and bottom element.
  For radial image, use the <code>radial</code> class:</p>
  <login-box>
    <div top>
      <img src="adracus.jpeg" class="radial" />
    </div>
    <div bottom>
      <p>With &#9829; from Adracus</p>
    </div>
  </login-box>

</body>
</html>
